name: Galaxy Execution
on: [workflow_dispatch]
jobs:
  run-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: galaxy-ide
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Execute Strategy
        run: python main.py