name: Galaxy Run
on: [workflow_dispatch]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: galaxy-ide
      - name: Run
        run: python main.py